
/* 문제 풀어보깅~ */
/* 문제 1. 후손선택자, 자식선택자 */


/* body > a {
  color:green;
} */

/* 아 div 없이 그냥 바디 > a는 선택자가 안되는건가? 그럼 선택자의 조건은 꼭 태그여야 하네? body는 사실상 태그는 아니니까? */
/* 그렇다면, div를 만들고 선택자로 해봐야지. */

div > a {
  color:green;
}

a {
  color:red;
}

/* 요렇게 하면 두개 다 green 으로 적용!  */
/* 자 그럼, 네이버 - 그린, 구글-레드 로 만들어볼까? */

/* 풀이 : 네이버 a를 div 안에 넣고, div 로 감싸져 있는 a와 감싸지지 않은 a로 구분해찌롱*/