/* inline 요소에 text-align 속성을 주면 의미 없는 이유 */

div {
  border:20px solid red;
  padding:20px;
  text-align: center;
  /* textalign center마 먹히지 않는 이유? */ 
  /* 너비가 없는데 뭐 어케 정렬하니 section에 너비를 줘보자! */
}

section {
  text-align:center; /* `안녕` 이라는 텍스트가 화면 정 가운데로 가려면, 이 text-align 속성이 녀석이 여기있는게 맞을까요? */
  /* 파란박스의 너비 사이즈가 어느정도인지 변동이 되는데, 파란 박스에 중점을 두면 결론적으로 100프로 가운데로 오지 못한다. 고로 전체를 통괄하는 빨간 박스기준으로 중심을 잡는것이 맞다. -> 가 아니라, section이 텍스트 패키지 자체니까 div에서 옮겨야 하겠다.! 
 */
  width:100px;
  display:inline-block;
  border:20px solid blue;
  padding:20px;
  /* width:100px; */
}

/* 1. 파란박스를 가운데로 먼저 옮긴다
2. 안녕 이라는 텍스트를 비로소 위치를 바꿀 수 있을 것이다. 
 -> 이동할 자리가 마련 되어야 가든 말든 하니까!
  */